// Tile
//
// This is the Tile component. It's an example.
//
// Markup: tile.twig
//
// Style guide: Components.tile

// Import site utilities.
@import '../../global/utils/init';

.tile__container {
  @include breakpoint($md) {
    margin-left: $gutter-width;
  }

  @include breakpoint($lg) {
    margin-left: $gutter-width * 2;
  }

  .tile__container__bottom-row {
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.tile__media {
  > * {
    margin-bottom: 0;
  }
}
