@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../../fonts/Brandon_reg.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Grotesque';
  font-weight: bold;
  src: url('../../fonts/Brandon_bld.otf') format('opentype');
}

@font-face {
  font-family: 'Brandon Grotesque Light';
  src: url('../../fonts/Brandon_light.otf') format('opentype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome-webfont.eot'), url('../../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2') format('woff2'), url('../../fonts/fontawesome-webfont.woff') format('woff'), url('../../fonts/fontawesome-webfont.ttf') format('truetype'), url('../../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url('../../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('../../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('../../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('../../fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-style: italic;
}
