// Colors
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.

// Colors
$color-orange: #FAAF40;
$color-yellow-gold: #E9DB00;
$color-ocean-blue: #539FB9;
$color-blue-1: #2A9FD5;
$color-blue-2: #166285;
$color-blue-3: #082F3D;
$color-blue-4: #50b7d0;
$color-green-1: #3E996C;
$color-green-2: #357455;
$color-green-3: #1A3428;
$color-purple-1: #836AA2;
$color-red-1: #EE4136;
$color-red-2: #AC3D36;
$color-red-3: #441E19;
$color-white-opacity-background: rgba(255, 255, 255, 0.8);
$color-purple-background-opacity: rgba(39, 30, 48, 0.8);
$color-purple-2-opacity: rgba(75, 59, 94, 0.8);
$color-purple-1-opacity: rgba(131, 106, 163, 0.8);
$color-ocean-blue-opacity: rgba(41, 68, 75, 0.8);
$color-blue-1-opacity: rgba(84, 160, 186, 0.8);
$color-dark-green-opacity: rgba(63, 104, 83, 0.8);
$color-green-opacity: rgba(27, 75, 45, 0.8);
$color-mustard-opacity: rgba(115, 97, 10, 0.8);
$color-gray-opacity: rgba(54, 58, 61, 0.65);
$color-gray-arrows: rgba(87, 87, 87, 0);
$color-tile-border: #BDBDBE;
$color-title-background: #404041;
$color-wysiwyg-border: #948F99;
$color-full-card-background: #F3F3F4;
$color-button-gray: #404041;
$color-link: #6B84B8;
$color-white: #FFFFFF;
$color-black: #000000;

// Grays
$color-gray: #404041;
$color-charcoal: #2D2D2D;
$color-tundora: #464646;
$color-titanium: #969697;
$color-silver: #BBB;
$color-bdbdbd: #BDBDBD;
$color-alto: #CDCDCD;
$color-silver-gray: #DDD;
$color-gallery: #EEE;
$color-alabaster: #F7F7F7;
$color-f1f1f1: #F1F1F1;
$color-e1e1e1: #E1E1E1;
$color-menu-gray: #F8F8F8;
$color-menu-gray-hover: #E7E7E7;
$color-menu-white-hover: #F5F5F5;
$color-menu-shadow: rgba(0, 0, 0, 0.1);
$color-menu-text: #777777;
$color-menu-text-hover: #333333;
$color-panel-tabs: #8ca3b8;

// Layout Builder
$color-dialog-cancel: #BA121A;
$color-dialog-primary: #2c8c07;
$color-dialog-secondary: #0F6B96;
$color-dialog-warning: #FF5722;

// Status messages
$color-status-warning: #734c00;
$color-status-warning-bg: #fdf8ed;
$color-status-error: #a51b00;
$color-status-error-bg: #fcf4f2;
$color-status-success: #325e1c;
$color-status-success-bg: #f3faef;
