// Type
//
// Custom fonts are loaded via JavaScript provided by fonts.com.

@mixin font-stack-base {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

@mixin font-stack-light {
  font-family: 'Montserat Light', 'Arial', sans-serif;
}

@mixin font-stack-headers {
  font-family: 'Darker Grotesque', 'Arial', sans-serif;
}

@mixin font-font-awesome {
  font-family: 'FontAwesome', 'Arial', sans-serif;
}

$font-weight-bold: bold;
$font-italic: italic;
